<header>
	<div id="cart_info" >
		<div class="container">
	         <div th:if="${customer.anonymous}"  th:remove="tag">
	
	             <a class="account" th:href="@{/login}">
	                 <span th:utext="#{home.login}">Login</span>
	             </a>
	             &nbsp;|&nbsp; 
	             <a class="account" th:href="@{/register}">
	                 <span th:utext="#{home.register}">Register</span>
	             </a>
	             &nbsp;|&nbsp; 
	         </div>
	         <div th:unless="${customer.anonymous}" th:remove="tag">
	             <span><span th:utext="#{home.welcome}">Welcome</span>, <a class="my-account" th:href="@{/account}" th:utext="${customer.firstName}"></a></span>
	             &nbsp;|&nbsp; 
	             <a th:href="@{/logout}">
	                 <span th:utext="#{home.logout}">Logout</span>
	             </a>
	             &nbsp;|&nbsp; 
	         </div>
	
	
	         <a id="cartLink" class="modalcart" th:href="@{/cart}">
	            <i class="icon-cart"></i>
	             &nbsp; 
	             <span id="headerCartItemWordSingular_i18n" style="display: none;" th:utext="#{home.item}" />
	            <span id="headerCartItemWordPlural_i18n" style="display: none;" th:utext="#{home.items}" />
	            <span class="headerCartItemsCount" th:utext="${cart.itemCount}" />
	            <span class="headerCartItemsCountWord" th:utext="${cart.itemCount == 1} ? #{home.item} :  #{home.items}" />
	        </a>
		</div>
    </div>
    <div id="header_content" class="container">
      
        <div id="logo"><h1><a th:href="@{/}"></a></h1></div>
        
        <div id="search">
            <blc:form th:action="@{/search}" method="GET">
            <div><input type="search" class="search" name="q" th:value="${originalQuery}" /></div>
            <div class="search_button"> <input type="submit" id="search_button" value="go" />
            <i class="icon-search"></i>
            </div>
           
            </blc:form>
        </div>
    </div>
</header>